<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
  <li><a href="#">Home</a></li>
</ul>
<!-- END BREADCRUMB -->
<div class="spacer">&nbsp;</div>
<a href="<%= conversations_path %>">
<div class="col-md-3">

  <div class="widget widget-warning widget-item-icon">
    <div class="widget-item-right">
      <span class="fa fa-envelope"></span>
    </div>
    <div class="widget-data-left">
      <div class="widget-int num-count"><%= @unread %></div>
      <div class="widget-title">Unread messages</div>
      <div class="widget-subtitle">In your Inbox</div>
    </div>
  </div>

</div>
</a>

<div class="col-md-3" id="timewidget">

  <div class="widget widget-danger widget-padding-sm">
    <div class="widget-big-int plugin-clock">00:00</div>
    <div class="widget-subtitle plugin-date">Loading...</div>
    <div class="widget-controls">
      <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
    </div>
    <div class="widget-buttons widget-c3">
      <div class="col">
        <a href="#"><span class="fa fa-clock-o"></span></a>
      </div>
      <div class="col">
        <a href="#"><span class="fa fa-bell"></span></a>
      </div>
      <div class="col">
        <a href="#"><span class="fa fa-calendar"></span></a>
      </div>
    </div>
  </div>

</div>
<div class="col-md-4">
    <div class="panel panel-default panel-body">
    <p>Try out the tour feature to gain insight on how to navigate this page by clicking on the tour button.</p>
    <button class="btn btn-danger start-tour push-down-10">Start Tour</button>
  </div>
</div>


<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-6">

      <!-- START LINE CHART -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Progression report between Request and Goods Issues </h3>
        </div>
        <div class="panel-body">
          <div id="morris-line-example" style="height: 300px;"></div>
        </div>
      </div>
      <!-- END LINE CHART -->

    </div>
    <div class="col-md-6">

      <!-- START Area CHART -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Apporved purchase versus actual purchase </h3>
        </div>
        <div class="panel-body">
          <div id="morris-area-example" style="height: 300px;"></div>
        </div>
      </div>
      <!-- END Area CHART -->

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <!-- START BAR CHART -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Purchase Variance between periods </h3>
        </div>
        <div class="panel-body">
          <div id="morris-bar-example" style="height: 300px;"></div>
        </div>
      </div>
      <!-- END BAR CHART -->

    </div>
    <div class="col-md-6">

      <!-- START DONUT CHART -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Station Requisiton/Procurement</h3>
        </div>
        <div class="panel-body">
          <div id="morris-donut-example" style="height: 300px;"></div>
        </div>
      </div>
      <!-- END DONUT CHART -->

    </div>
  </div>

</div>

<script>
    var morrisCharts = function() {

        Morris.Line({
            element: 'morris-line-example',
            data: [
                { y: '2006', a: 100, b: 90 },
                { y: '2007', a: 75,  b: 65 },
                { y: '2008', a: 50,  b: 40 },
                { y: '2009', a: 75,  b: 65 },
                { y: '2010', a: 50,  b: 40 },
                { y: '2011', a: 75,  b: 65 },
                { y: '2012', a: 100, b: 90 }
            ],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Series A', 'Series B'],
            resize: true,
            lineColors: ['#33414E', '#95B75D']
        });


        Morris.Area({
            element: 'morris-area-example',
            data: [
                { y: '2006', a: 100, b: 90 },
                { y: '2007', a: 75,  b: 65 },
                { y: '2008', a: 50,  b: 40 },
                { y: '2009', a: 75,  b: 65 },
                { y: '2010', a: 50,  b: 40 },
                { y: '2011', a: 75,  b: 65 },
                { y: '2012', a: 100, b: 90 }
            ],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Series A', 'Series B'],
            resize: true,
            lineColors: ['#3FBAE4', '#FEA223']
        });


        Morris.Bar({
            element: 'morris-bar-example',
            data: [
                { y: '2006', a: 100, b: 90 },
                { y: '2007', a: 75,  b: 65 },
                { y: '2008', a: 50,  b: 40 },
                { y: '2009', a: 75,  b: 65 },
                { y: '2010', a: 50,  b: 40 },
                { y: '2011', a: 75,  b: 65 },
                { y: '2012', a: 100, b: 90 }
            ],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Series A', 'Series B'],
            barColors: ['#B64645', '#33414E']
        });


        Morris.Donut({
            element: 'morris-donut-example',
            data: [
                {label: "Total Purchases", value: 12},
                {label: "Total Goods Issues", value: 30},
                {label: "Total Requests", value: 20}
            ],
            colors: ['#95B75D', '#3FBAE4', '#FEA223']
        });

    }();
</script>
<script>
    $(function(){
        var tour = new Tour({
            debug: true,
            storage: false,
            steps: [
                {
                    element: "#tour-sidebar",
                    title: "Sidebar Navigation",
                    content: "It's very powerful tool in template. It has many options and features.",
                    placement: "right"
                },
                {
                    element: "#timewidget",
                    title: "Time Widget",
                    content: "This is always available in the index page and it allows you to see the current time on the fly ",
                    placement: "right"
                },
                {
                    element: "#tour-content-1",
                    title: "Content Example",
                    content: "Sample of left direction of popover block",
                    placement: "left"
                },
                {
                    element: "#tour-content-2",
                    title: "Content Example 2",
                    content: "Sample of top direction of popover block",
                    placement: "top"
                }
            ]});
        //tour1.init();
        $(".start-tour").on("click",function(){
            tour.start();
        });
    });

</script>