<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
  <li><a href="#">Home</a></li>
</ul>
<!-- END BREADCRUMB -->

<div class="spacer">&nbsp;</div>
<div class="col-md-3">

  <div class="widget widget-warning widget-item-icon">
    <div class="widget-item-right">
      <span class="fa fa-envelope"></span>
    </div>
    <div class="widget-data-left">
      <div class="widget-int num-count"><%= @unread %></div>
      <div class="widget-title">Unread messages</div>
      <div class="widget-subtitle">In your Inbox</div>
    </div>
  </div>

</div>