<span class="reject_request">
  <%= form_tag reject_request_path(@request), :id => "reject_request", :class => "rejection" do %>
    <%= text_area_tag 'reason', nil, placeholder: 'Enter Rejection Reason ... ', class: "col-md-12" %>
      <%=  submit_tag "Reject", :class => 'btn btn-warning', style: "margin-top: 10px;" %>
  <%  end %>
</span>
